<header>
  <%= render 'templates/template_2/shared/navbar' %>
  <%= render 'templates/template_2/landing_page/components/carousel' %>
</header>

<section class="py-5">
  <%= render 'templates/template_2/landing_page/components/about' %>
</section>

<section class="py-5">
  <%= render 'templates/template_2/landing_page/components/card_group' %>
</section>

<section class="py-5">
  <%= render 'templates/template_2/landing_page/components/contact' %>
</section>

 <%= render 'templates/template_2/shared/footer' %>


