<%= render "shared/header.html" %>
    <section class="pt-2">
      <div class="bg-center-top bg-no-repeat mt-md-5 pt-5" style="background-image: url(assets/homepages/mobile-app-showcase/hero-bg.png);">
        <div class="container pt-5 pb-5 pb-md-2">
          <div class="row">
            <div class="col-lg-7 col-md-4"><img class="d-block mx-auto mr-md-5" src="assets/homepages/mobile-app-showcase/hero-device.png" alt="CBlomia App"></div>
            <div class="col-lg-5 col-md-6 pt-md-5 text-center text-md-left">
              <h1 class="pt-md-5 pb-md-4">Saque e deposite onde quiser</h1><a class="video-player-button bg-gradient text-white my-3 mr-3" target="_blank" href="https://www.youtube.com/watch?v=p6AUW0sdUXc" data-fancybox data-width="1000" data-height="563"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-play-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
</svg></a><span class="video-player-label">Clique para ver o vídeo!</span>
              <div class="pt-4 mt-md-3"><a class="market-btn apple-btn mr-3 mb-3" href="https://www.apple.com/" target="_blank"><span class="mb-subtitle">Em breve na</span><span class="mb-title">App Store</span></a><a class="market-btn google-btn mb-3" href="https://play.google.com/" target="_blank"><span class="mb-subtitle">Disponível no</span><span class="mb-title">Google Play</span></a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-center-top bg-no-repeat" style="background-image: url(assets/homepages/mobile-app-showcase/features-bg.png);">
      <!-- Features-->
      <div class="container pb-5">
        <h2 class="h3 block-title text-center">Dinheiro em Segundos<small>Vantagens do Blomia para Vocẽ</small></h2>
        <div class="row pt-3">
          <div class="col-lg-4 col-sm-6 mb-30">
            <!-- Icon Box-->
            <div class="icon-box text-center bg-white box-shadow mx-auto">
              <div class="icon-box-icon"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M11 4a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  <path d="M7.5 4h1v9a.5.5 0 0 1-1 0V4z"/>
  <path fill-rule="evenodd" d="M6.489 12.095a.5.5 0 0 1-.383.594c-.565.123-1.003.292-1.286.472-.302.192-.32.321-.32.339 0 .013.005.085.146.21.14.124.372.26.701.382.655.246 1.593.408 2.653.408s1.998-.162 2.653-.408c.329-.123.56-.258.701-.382.14-.125.146-.197.146-.21 0-.018-.018-.147-.32-.339-.283-.18-.721-.35-1.286-.472a.5.5 0 1 1 .212-.977c.63.137 1.193.34 1.61.606.4.253.784.645.784 1.182 0 .402-.219.724-.483.958-.264.235-.618.423-1.013.57-.793.298-1.855.472-3.004.472s-2.21-.174-3.004-.471c-.395-.148-.749-.336-1.013-.571-.264-.234-.483-.556-.483-.958 0-.537.384-.929.783-1.182.418-.266.98-.47 1.611-.606a.5.5 0 0 1 .595.383z"/>
</svg></div>
              <h3 class="icon-box-title">Saque onde quiser</h3>
              <p class="icon-box-text text-sm">Com o Blomia você pode sacar no local mais perto de onde você está. Não precisa procurar uma agência que vocẽ tem conta; não precisa pegar as filas das casas lotérias ou mesmo ter que achar um Banco 24 horas que esteja aberto e funcionando.</p><%= link_to parapessoas_path do %><%= (content_tag :span, "Saiba mais", :class => "icon-box-link") %><% end %><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
  <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"/>
</svg></a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-30">
            <!-- Icon Box-->
            <div class="icon-box text-center bg-white box-shadow mx-auto">
              <div class="icon-box-icon"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-building" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
  <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
</svg></div>
              <h3 class="icon-box-title">Deposite onde quiser</h3>
              <p class="icon-box-text text-sm">Hoje em dia você só tem duas opções para depositar dinheiro: pegar uma fila enorme nas casas lotéricas ou ir na agência do seu banco. Agora você vai poder depositar na padaria, lanchonete ou salão de beleza perto da sua casa.</p><%= link_to parapessoas_path do %><%= (content_tag :span, "Saiba mais", :class => "icon-box-link") %><% end %><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
  <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"/>
</svg></a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-30">
            <!-- Icon Box-->
            <div class="icon-box text-center bg-white box-shadow mx-auto">
              <div class="icon-box-icon"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
  <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
</svg></div>
              <h3 class="icon-box-title">Mais Segurança</h3>
              <p class="icon-box-text text-sm">Seus dias de andar com muito dinheiro no bolso ficaram no passado. Agora você pode depositar rapidamente o seu dinheiro em algum estabelecimento comercial e quando quiser, sacar em outro. Saque agora só o que precisar.</p><%= link_to parapessoas_path do %><%= (content_tag :span, "Saiba mais", :class => "icon-box-link") %><% end %><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
  <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"/>
</svg></a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-30">
            <!-- Icon Box-->
            <div class="icon-box text-center bg-white box-shadow mx-auto">
              <div class="icon-box-icon"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-emoji-smile" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path fill-rule="evenodd" d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683z"/>
  <path d="M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
</svg></div>
              <h3 class="icon-box-title">Foco na sua Comunidade</h3>
              <p class="icon-box-text text-sm">Usando o Blomia você ajuda a movimentar o dinheiro na sua própria comunidade. Os negócios ficam mais seguros e com muito mais movimento de fregueses. Assim sua comunidade vai florescer ainda mais.</p><%= link_to parapessoas_path do %><%= (content_tag :span, "Saiba mais", :class => "icon-box-link") %><% end %><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
  <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"/>
</svg></a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-30">
            <!-- Icon Box-->
            <div class="icon-box text-center bg-white box-shadow mx-auto">
              <div class="icon-box-icon"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-gift-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3z"/>
  <path d="M15 7v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7h6zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9H2.5z"/>
</svg></div>
              <h3 class="icon-box-title">Muito barato</h3>
              <p class="icon-box-text text-sm">Vinte e cinco centavos por saque ou depósito é muito mais barato que os 5 reais ou mais que você precisa pagar para usar o Banco 24 horas. Cabe no seu bolso e não te cobra taxas escondidas. Lembre que se você não está pagando, você é o produto.</p><%= link_to parapessoas_path do %><%= (content_tag :span, "Saiba mais", :class => "icon-box-link") %><% end %><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
  <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"/>
</svg></a>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 mb-30">
            <!-- Icon Box-->
            <div class="icon-box text-center bg-white box-shadow mx-auto">
              <div class="icon-box-icon"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-exclamation-octagon-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
</svg></div>
              <h3 class="icon-box-title">Sem filas intermináveis</h3>
              <p class="icon-box-text text-sm">Acabou as filas intermináveis nos bancos, nas casas lotérias e nos caixas 24 horas que não tem nada de 24 horas. Agora vocẽ não precisa ficar esperando para sacar ou depositar dinheiro - até porque são centenas de opções para você escolher.</p><%= link_to parapessoas_path do %><%= (content_tag :span, "Saiba mais", :class => "icon-box-link") %><% end %><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
  <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"/>
</svg></a>
            </div>
          </div>
        </div>
      </div>
    <!-- Tablet Version-->
    <section class="container-fluid pt-lg-2 pb-5">
      <div class="row align-items-center">
        <div class="col-xl-4 offset-xl-2 col-lg-6 col-md-5 pb-4 text-center text-md-left">
          <h2 class="h3">Lembra a última vez que precisou sacar dinheiro?</h2>
          <p class="text-muted pt-3 pb-4">Agora você não precisa mais se preocupar se vai achar onde sacar. Não vai depender de caixas rápidos que quando não estão estragados, estão fechados devido ao horário. Não vai precisar pegar uma fila enorme nas casas lotérias. E o melhor de tudo, vai poder sacar na padaria ou lanchonete mais perto de você - sem precisar ir no centro da cidade pra isso.<span class='d-sm-block d-md-none d-lg-block'></span></p>
          <div class="text-md-nowrap"><a class="market-btn apple-btn mr-3 mb-3" href="https://www.apple.com/" target="_blank"><span class="mb-subtitle">Em breve na</span><span class="mb-title">App Store</span></a><a class="market-btn google-btn mb-3" href="https://play.google.com/" target="_blank"><span class="mb-subtitle">Disponível no</span><span class="mb-title">Google Play</span></a></div>
        </div>
        <div class="col-lg-6 col-md-7"><img src="assets/homepages/mobile-app-showcase/tablet-app.jpg" alt="Tablet Version"></div>
      </div>
    </section>
    <!-- CTA + Numbers-->
    <section class="bg-center-top bg-no-repeat bg-cover pb-4" style="background-image: url(assets/homepages/mobile-app-showcase/cta-bg.png);">
      <div class="container-fluid pb-4">
        <div class="row">
          <div class="col-md-3 col-sm-6 border-white border-right py-5 border-bottom">
            <div class="animated-digits text-white mx-auto text-center" data-number="10">
              <h5 class="animated-digits-digit text-white"><span>486</span>+</h5>
              <p class="animated-digits-text">Usuários com tempo sobrando</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 py-5 border-white border-right border-bottom">
            <div class="animated-digits text-white mx-auto text-center" data-number="98">
              <h5 class="animated-digits-digit text-white"><span>48</span>+</h5>
              <p class="animated-digits-text">Estabelecimentos abertos para você</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 py-5 border-white border-right border-bottom">
            <div class="animated-digits text-white mx-auto text-center" data-number="760">
              <h5 class="animated-digits-digit text-white"><span>8468</span>+</h5>
              <p class="animated-digits-text">Saques realizados</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 py-5 border-white border-bottom">
            <div class="animated-digits text-white mx-auto text-center" data-number="25">
              <h5 class="animated-digits-digit text-white"><span>4682</span>+</h5>
              <p class="animated-digits-text">Depósitos realizados</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container py-5 text-center">
        <h2 class="h3 block-title text-white">Comece a usar agora</h2>
        <div class="row justify-content-center pt-3">
          <div class="col-xl-7 col-lg-8 col-md-10">
            <p class="text-white opacity-90 pb-4">Com o Blomia vocẽ se livra das filas e por apenas R$0,25 centavos por transação vocẽ pode sacar e depositar onde é melhor para você.</p><a class="market-btn market-btn-light-skin apple-btn mx-2 mb-3" href="https://www.apple.com/" target="_blank"><span class="mb-subtitle">Em breve na</span><span class="mb-title">App Store</span></a><a class="market-btn market-btn-light-skin google-btn mx-2 mb-3" href="https://play.google.com/" target="_blank"><span class="mb-subtitle">Disponível no</span><span class="mb-title">Google Play</span></a>
          </div>
        </div>
      </div>
    </section>
    <%= render "shared/footer.html" %>
